---
interface Props {
  labelSecurity: string;
}

const { labelSecurity } = Astro.props;
---

<div class="pg-strength-container">
  <div class="pg-strength-header">
    <span class="pg-strength-label">{labelSecurity}</span>
    <span id="pg-strength-text" class="pg-strength-status">-</span>
  </div>
  <div class="pg-strength-track">
    <div id="pg-strength-bar" class="pg-strength-bar"></div>
  </div>
</div>

